@font-face {
    font-family: Open Sans Bold;
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: Open Sans Regular;
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: Open Sans Regular, Arial, sans-serif;
    box-sizing: border-box;
    color: #000000;
    line-height: normal;    
  }

  ul {
    list-style-type: none;  
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
  }
  
  /* хэдер */
  .header {    
    padding-bottom: 145px;
    padding-top: 26px;    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    z-index: 0;
    position: relative;
  }

  .header::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.6;
    background-color: #000000;
    z-index: -1;  
  }
  
  .nav-container {
    max-width: 1200px;    
    display: flex;
    flex-wrap: nowrap; 
    align-items: center;
    justify-content: space-between;
  }
  
  .header-logo {
    width: 180px;  
  }
  
  .menu-list { 
    font-family: Open Sans Regular;
    font-size: 13px;  
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;     
  }
  
  .menu-list-item {  
    border-bottom: 1px solid transparent;
    transition-property: border-bottom;
  }
  
  .menu-list-item:nth-child(n+2) {
    margin-left: 35px;
  }
  
  .header-title {
      display: block;    
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-family: Open Sans Bold;
      font-size: 45px;    
      text-transform: uppercase;
      color: #ffffff;
      margin-top: 110px; 
  }

  .hamburger_menu {
    background: url(../svg/Hamburger_icon.svg) no-repeat center;    
    width: 100%;
    
  }

  .hamburger_menu_wrapper {    
    width: 25px; 
    height: 19px;     
  } 

  /* тренды */ 
  .trend_container {
    display: flex;    
    flex-wrap: nowrap;
  }

  .trend_card {
    width: 25%;
    position: relative;        
    background-color: #666666;
    min-height: 300px;
  } 

  .card__preview {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center 50%;
    background-color: #000000;
    background-size: cover;
  }

  .trend1 {
    background-image: url('../images/trend1.jpg');
  }

  .trend2 {
    background-image: url('../images/trend2.jpg');
  }

  .trend3 {
    background-image: url('../images/trend3.jpg');
  }

  .trend4 {
    background-image: url('../images/trend4.jpg');
  }

  .trend_card:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(15, 15, 15, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .card__body {
    position: absolute;    
    bottom: 0;
    z-index: 2;
    border: 3px solid rgba(181, 159, 91, 0.6);
    margin: 1.25em;
    padding: 1.875em;
  }

  .card_title {
    color: #ffffff;    
  } 

  .section-title {    
    display: block;    
    font-size: 20px;    
  }

  /* основное */
  .page {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display: flex;  
    padding: 58px 15px;    
  }
  
  .post {
    display: flex;
  }
  
  .post:nth-child(n+2) {
    margin-top: 57px;
  }
  
  .content {    
    display: flex;
    flex-direction: column;
    flex-grow: 1;        
  }
  
  .post-img {
    max-width: 380px;
  }
   
  .post-category {  
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }  
  
  .post-category-item {
    border-bottom: 2px solid transparent;
    transition-property: border-bottom;
  }  
  
  .post-category-item {
    margin-right: 20px;  
  }
  
  .post-category-item a {
    font-family: Open Sans Bold;
    color: #b59f5b;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;  
    font-weight: bold;
  }

  .main-title {
    font-family: Open Sans Bold; 
    font-size: 1.25rem;
    text-transform: uppercase;
  }
  
  .post-title {    
    transition-property: color;
  }
  
  .link-title {
    margin-top: 4px;
  }
  
  .post-date {
    color: #999999;
    font-size: 12px;  
    padding-right: 8px;  
  }
  
  .post-author {
    margin-top: 22px;
  }
  
  .author-name {
    font-family: Open Sans Bold;
    display: inline-block;  
    font-size: 12px;   
  }
  
  .post-description {  
    font-size: 15px;
    line-height: 1.6;
    margin-top: 47px;
  }
  
  .post-description p:nth-child(n+2) {  
    margin-top: 15px;
    
  }
  
  .post-header {
    display: flex;
    flex-direction: column;
  }

  .link-post-img {
    display: flex;
  }
  
  /* начало боковой панели */
  .new-posts {    
    width: 270px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    flex-shrink: 0;  
  }
  
  .new-posts > section:nth-child(n+2) {
    margin-top: 53px;
  }
  
  .aside-posts, .page-tags, .page-mailing, .page-topics {
    display: flex;
    flex-direction: column;
  }  
  
  .aside-title {    
    font-size: 1em;    
    position: relative;    
    display: flex;
    justify-content: center;
  }

  .aside {
    font-size: 0.875rem;
    margin-bottom: 2.25rem;
  }

  .aside-posts .aside:first-child {
    margin-bottom: 2.875rem;
  }
  
  .aside-title:after {
    content: "";
    border-bottom: 3px solid #e1d9bd;
    position: absolute;      
    bottom: -12px;      
    width: 65px;  
  }
  
  .aside-post {
    display: flex;  
    width: 100%;  
  }
  
  .aside-post:nth-child(n+3) {
    margin-top: 16px;
  }
  
  .aside-post-img {
    width: 70px;
  }
  
  .aside-post-info {
    margin-left: 17px;
  }
  
  .aside-post-title {
    font-family: Open Sans Bold;
    font-size: 14px;
    text-transform: uppercase;
    transition-property: color;    
  }
  
  /* поиск */
  .search {
    display: flex;
    position: relative;
  }
  
  .search-on, .mail-text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden; 
  }
  
  .button-name {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;   
  }
  
  .search-button {
    width: 50px;
    height: 50px;
    background: url(../svg/search.svg) #b59f5b no-repeat center center/20px;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    transition-property: background-color;
  }
  
  .search-name, .mail-label {
    width: 100%;
  }
  
  .search-field, .mail-field {
    background-color: #f4f7f6;
    border: none;
    outline: transparent 1px solid;
    height: 50px;
    width: 100%;
    padding-left: 16px; 
    padding-right: 55px;
    font-size: 13px;
    transition-property: outline;
  }
  
  .search-field:focus, .mail-field:focus {
    font-size: 14px;
    outline: 1px solid #b59f5b;
    transition: 0.6s;
  }
  
  .page-search {
    margin-top: 60px;
  }
  
  
  /* почта */
  .subscribe-button {
    width: 100%;
    height: 50px;
    background-color: #b59f5b;
    border: none;
    margin-top: 15px;  
    transition-property: background-color;
  }
  
  .subscribe-name {
    font-family: Open Sans Bold;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
  }
  
  /* Тэги */
  .tag-container {
    display: flex;
    flex-wrap: wrap;  
    justify-content: flex-start;
  }
  
  .tag-name {
    border: 4px solid rgba(238, 238, 238, 0.9);
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 5px;
    margin-bottom: 6px;
    transition-property: background-color;
  }
  
  .tag-title {
    font-family: Open Sans Bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #000000;
  }
  
  /* Темы */
  .page-topics .section-title {
    margin-bottom: 20px;  
  }
  
  .topic-container {
    display: flex;
    flex-direction: column;
  }
  
  .topic { 
    height: 48px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    align-items: center;
  }
  
  .topic-link {
    font-family: Open Sans Bold;
    font-size: 14px;
    color: #000000;
    transition-property: color;
  }
  
  .topic-amount {
    color: #b59f5b;
    font-size: 12px;
    font-family: Open Sans Bold;
    padding-bottom: 10px;
    padding-left: 5px;
  }

  .our_products {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 65px;
    flex-wrap: wrap;
  }  

  .product_card {    
    width: 29.33%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    font-size: 15px;
  }

  .description_link {
    color: #b59f5b;
  }

  .product_card picture {
    display: flex;
  }
  
  .product_preview {
   width: 100%;
   padding-left: 20px;
   padding-right: 20px;
   margin-bottom: -30px;
  }

   .product_preview img {
    width: 100%;
   }

  .product__prices {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: flex-end;
  }

  .product__price {
    display: flex;
    flex-direction: row;
    font-size: 20px;
  }   

  .product__description {
    font-size: 1em;
  }

  .product__footer {
    display: flex;
    justify-content: space-between;
  }

  .product__button {
    width: 40%;
    height: 50px;
    background-color: #b59f5b;
    border: none;    
    transition-property: background-color;
  }

  .product__price_old  {
    font-size: 1em;
  }

  .product__price_old:first-child {
    text-decoration: line-through;
  }

  .product__button {
    font-family: Open Sans Bold;
    font-size: 1em;
    color: #ffffff;
  }

  .product__content {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  
  .product__body {
    border: rgba(181, 159, 91, 0.6) solid 3px;    
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
  }

  .product__rub {
    margin-left: 5px;
    font-weight: bolder;
  }

  .product__prices * {
    font-family: Open Sans Bold;
  }

  /* футер */
  .footer-links {  
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px; 
  }
  
  .social-wrapper {
    display: flex;
    width: 100%;
    background-color: #f4f7f6;
    justify-content: center;
    align-items: center; 
    padding: 30px;
  }
  
  .social-link {
    position: absolute;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 20px;  
    background-position: center;
    transition-property: scale;
  }
  
  .social-link-twitter {
    background-image: url("../svg/004-twitter.svg");  
  }
  
  .social-link-pinterest {
    background-image: url("../svg/001-pinterest.svg");   
  }
  
  .social-link-facebook {
    background-image: url("../svg/002-facebook-logo.svg");
  }
  
  .social-link-instagram {
    background-image: url("../svg/005-instagram.svg");
  }
  
  .social-link-tumblr {
    background-image: url("../svg/003-tumblr.svg");  
  }
  
  .social-link-text {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
  }
  
  .social-icon {  
    width: 30px;
    height: 30px;
  }
  
  .social-icon:nth-child(n+2) {
    margin-left: 17px;
  }
  
  .copyright-link {
    font-family: Open Sans Bold;
    font-size: 11px;
    font-style: normal;
    color: #999999;
    margin-top: 68px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }  

  /* Всплывающее окно */
  .popup {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
    padding: 50px 30px;
    background-color: #ffffff;
    position: relative;
  }

  .popup h2 {
    font-size: 20px;
  }

  .popup_title {
    margin-bottom: 2.25rem;
  }

  .popup_container {    
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
  }

  .popup__close {
    width: 18px;
    height: 18px;
    display: flex;
    position: absolute;
    right: 0;
    top: -26px;
  }

  .close__button {
    background: url(../svg/form-x.svg) no-repeat center right;
    width: 100%;
  }


  .form_popup {
    display: flex;    
  }

  .popup_field {
    background: url(../svg/form-arrows.svg) #f9f9f9 no-repeat center right 10px;
    background-size: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;    
  }

  .form_popup {
    display: flex;
    flex-direction: column;
  }
  
  .field-label {
    margin-bottom: 10px;
    display: block;
    font-size: 13px;
  }

  .form-group:nth-child(n+2) {
    margin-top: 30px;
  }

  .message {
    height: 130px;
    padding: 20px;
    resize: none;
  }

  .send-button {    
    font-family: Open Sans Bold;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 0;
  }

  ._hidden {
    display: none;
  }

  /* checkbox */
  .checkbox-text::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background: url(../svg/form-empty-circle.svg) no-repeat center center/20px;
}
  .checkbox {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
  }

  .checkbox:checked + .checkbox-text::before {
    background: url(../svg/form-circle.svg) no-repeat center center/20px;
  }

  .checkbox-group:nth-child(n+3) {
    margin-left: 20px;
  }

  .checkbox-text {
    font-size: 13px;
  }

  /* медиа */
  /* desktop */
  @media (min-width: 1200px) {
    .header {
      background-image: url("../images/banner-bg.jpg");
    }
    .hamburger_menu_wrapper {       
      display: none;
    }

    .nav-container {
      padding-left: 15px;
      padding-right: 15px;
      margin: auto;
    }
    .trend_card:nth-child(n+2) {
      margin-left: 0.25%;
    }

    .post-info {
      margin-left: 34px;
    }

    .product_card:nth-child(4n-1), .product_card:nth-child(4n-2), .product_card:nth-child(7n-1), .product_card:nth-child(7n-2) {
      margin-left: 4rem;
    }
    .product_card:nth-child(n+4) {
      margin-top: 1%;
    }
    .content {
      margin-right: 7.125rem; 
    }
    .trend {
      margin-top: 3.5rem;
      margin-bottom: 2.5rem;
    }

    .product {
      margin-bottom: 2.5rem;
      margin-top: 0.875rem;
    }
  }
  

  /* tablet */
  @media (max-width: 1199px) {
    .hamburger_menu_wrapper {       
      display: flex;
    }
    .menu {
      display: none;
    }
    .post-img {      
      max-width: 100%;
      min-width: 100%;
    }
    .post {
      border-bottom: 3px solid #eeeeee;
    }

    .post:last-child {
      border-bottom: none;
    }

    .post-description {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
  }

  @media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
    .trend_card {
      width: 25%;      
    }

    .trend_card:nth-child(n+2) {
      margin-left: 0.25%;
    }

    .card__body {
      padding: 5px;
      margin: 5px;
    }
  }

  @media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {
    .trend_container {
      flex-wrap: wrap;
      
    }    
  
    .trend_card {
      width: 49.5%;
    }
    .trend_card:nth-child(n+3) {
      margin-top: 1%;
    }
    .trend_card:nth-child(odd) {
      margin-right: 1%;
    }
  }

  @media (min-width: 920px) and (max-width: 1199px) {
    .card__body {      
      margin: 0.9375rem 1.25rem;
      padding: 1.75em;
    }
  }

  @media (min-width: 641px) and (max-width: 1199px) {
    .header {
      background-image: url("../images/banner-bg-tablet.jpg");
      padding-top: 3.125rem;
      padding-bottom: 9.0625rem;
    }
    
    .section-title_trend {      
      margin-top: 2.8125rem;
      margin-bottom: 2rem;
      
    }
    .main-title {      
      
      font-size: 1.125rem;
    }

    .link-title h3, .link-title h2, .product__content h3 {
      font-size: 1.0625rem;
    }  

    .section-title h3 {
      font-size: 0.875rem;
    }
      
    .header-title {
      font-size: 2.5rem;
    }

    .page {     
      padding: 3.125rem 2.1875rem;
    }

    .post {
      flex-direction: column;
      flex-grow: 1;
     
    }

    .content {
      margin-right: 2rem; 
    }
    
    .nav-container {
      padding-left: 2.1875rem;
      padding-right: 2.1875rem;
    }

    .header-title {
      margin-top: 6.25rem;
    }   

    .post-header {
      margin-top: 1em;
    }

    .our_products {
      flex-wrap: wrap;
      margin-bottom: 50px;
      padding-left: 2.1875rem;
      padding-right: 2.1875rem;
    }

    .product_card {
      width: 48%;
    }    

    .product_card:nth-child(n+3) {
      margin-top: 1.75rem; 
    }

    .product_card:nth-child(odd) {
      margin-right: 1%; 
    }

    .product_card:nth-child(even) {
      margin-left: 1%; 
    }

    .popup__close {
      width: 28px;
      height: 28px; 
      top: -36px; 
    }

    .form-group:nth-child(n+2) {
      margin-top: 26px;
    }

    .popup h2 {
      font-size: 18px;
    }

    .copyright-link {      
      margin-top: 20px;
      margin-bottom: 30px;      
    }

    .trend {
      margin-top: 3.125rem;
      margin-bottom: 1.875rem;
    }

    .product {
      margin-bottom: 2.625rem;
      margin-top: 1.125rem;
    } 
  }

  /* mobile */
  @media (max-width: 640px) and (orientation: landscape) {
    .trend_container {
      flex-wrap: wrap;            
    }    
  
    .trend_card {
      width: 49.5%;
    }
    .trend_card:nth-child(n+3) {
      margin-top: 1%;
    }
    .trend_card:nth-child(odd) {
      margin-right: 1%;
    }
  }

  @media (max-width: 640px) and (orientation: portrait) {

    .trend_container {
      flex-wrap: wrap;
    }

    .trend_card {
      width: 100%;
      margin-top: 1%;
    }
  }

  @media (max-width: 640px) {
    .header {
      background-image: url("../images/banner-mobile.jpg");
      display: flex;
      flex-direction: column;
      padding: 2rem 1rem 13.5rem;
    }

    .nav-container {
      flex-direction: column-reverse;
    }

    .hamburger_menu_wrapper {
      align-self: flex-end;
    }

    .logo {
      width: 70%;
      margin-top: 11.5rem;
    }

    .header-logo {
      width: 100%;
    }

    .header-title {
      margin-top: 2.5rem;
      font-size: 1.625rem;
    }

    .aside-title {
      font-size: 1rem;
    }
    
    .section-title_trend {
      margin-top: 2em;
      margin-bottom: 1.875rem;
    }   
    
    .page {
      flex-direction: column;
      padding: 0 1rem;
      margin-top: 2.75rem;
    }

    .new-posts {
      width: 100%;
      margin-top: 2.75rem;
    }

    .content {
      width: 100%;
    }

    .post {
      flex-direction: column;
    }
    .post:nth-child(n+2) {
      margin-top: 2.5rem;
    }

    .post-description {
      font-size: 14px;
    }
   
    .main-title {      
      font-size: 1rem;
    }

    .our_products {
      flex-direction: column;
    }

    .product_card {
      width: 100%;
    }

    .product_card:nth-child(n+2) {
      margin-top: 1.75rem;
    }

    .new-posts > section:nth-child(n+2) {
      margin-top: 2.75rem;
    }

    .product__content .main-title {
      font-size: 17px;
    }

    .product__button {
      font-size: 14px;
    }

    .our_products {
      margin-bottom: 2.75em;
    }

    .copyright-link {      
      font-size: 12px;
    }
    
    .popup {
      padding: 30px 25px;
    }

    .popup h2 {
      font-size: 16px;
    }

    .trend {
      margin-top: 2.75rem;
      margin-bottom: 2.25rem;
    }

    .product {
      margin-top: 2.75rem;
      margin-bottom: 2.75rem;      
    }

    .post-info {
      margin-top: 0.875rem;
    }
  }